flake8
fontawesome_markdown
jsonref
json-schema-for-humans
jsonschema
jsonschema2md
mike
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-jupyter
mkdocs-macros-plugin
mkdocs-material
mkdocstrings
pre-commit
pytest
pyyaml
toml
