flake8
fontawesome_markdown
generate-schema-doc
jsonschema
jsonschema2md
mike
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-jupyter
mkdocs-macros-plugin
mkdocs-material
mkdocstrings
pandas
pandera
pre-commit
pytest
pyyaml
toml
